@font-face 
{
    font-family: 'fantasque_sans_monoregular';
    src: url('fonts/fantasquesansmono-regular-webfont.woff2') format('woff2'), url('fonts/fantasquesansmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Font and background gradient*/
html 
{
    font-family: fantasque_sans_monoregular;
    background-image: linear-gradient(to right, #85dcac, lightseagreen);
}

/*body 
{

}*/

/*The horizontal menu bar*/
body :link, :visited
{
    text-decoration: none; /*No hyperlink visuals*/
    color: white;
}

/*Menu bar*/
.heading
{
    /*background: linear-gradient(#00ff90, lightseagreen);*/
    font-size: 45px;
    text-align: center;
    top: 0;
    /*margin-top: 30px;*/
}
ul#horizontal-list li
{
    margin: 10px;
    /*padding: 20px;*/
    display: block;
}

/*Home button*/
ul#horizontal-list img
{
    width: 40px;
}

ul#horizontal-list a
{
    display: block;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
    padding: 25px;
}

/*When any items of the horizontal list is clicked on, the font colour changes*/
ul#horizontal-list li :active 
{
    color: lightseagreen;
}

h1, h2
{
    /*margin-left: 25px;*/
    /*font-family: alphabetized_cassette_tapesRg;*/
    /*font-style: normal;*/
    color: darkslategrey;
    text-align: center;
}

h1
{
    padding-top: 30px;
    font-size: 85px;
}

h2
{
    margin-top: 25px;
    font-size: 65px;
}


.paragraph 
{
    font-size: 25px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}
.paragraph p
{
    padding-bottom: 10px;
    text-align: justify;
}




@keyframes fade
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@-webkit-keyframes fade
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

table
{
    margin: auto;
}
table td
{
    padding: 10px;
    align-content: center;
}

/*LANGUAGE SWITCH BUTTON*/
.language-switch 
{
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    text-align: center;
    width: 100px;
}

.checkbox
{
    display: none;
}

.label
{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid white;
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.switch-first-label
{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.switch-first-label:before, .switch-first-label:after
{
    display: block;
    width: 50%;
    height: 100px;
    float: left;
    font-size: 20px;
    padding: 0;
    line-height: 30px;
}

.switch-first-label:before
{
    content: "FR";
    padding-left: 10px;
    background-color: darkslategrey;
    color: white;
}

.switch-first-label:after
{
    content: "EN";
    padding-right: 10px;
    background-color: darkslategrey;
    text-align: right;
    color: white;
}

.switch-second-label
{
    display: block;
    width: 18px;
    margin: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label .switch-first-label
{
    margin-left: 0;
}

.checkbox:checked + .label .switch-second-label
{
    right: 0;
}

/*INDEX PAGE*/
/*Redirectables bar*/
.redirectables
{
    margin: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}
ul#redirectables li
{
    /*margin: auto;*/
    /*padding-top: 50px;*/
    padding: 50px;
    display: inline;
}

.redirectables img
{
    width: 150px;
}

.r_desk
{
    display: none;
}

/*Skill display fade animation*/
.fade
{
    animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -moz-animation-name: fade;
    -moz-animation-duration: 2s;
}

/***PORTFOLIO PAGE***/
h2#projects-title
{
    margin-left: 0;
    font-size: 30px;
    font-family: fantasque_sans_monoregular;
}

/*****CONTACT PAGE*****/
.contact-container
{
    margin: 100px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 25px;
}

.contact-container p
{
    color: darkslategrey;
    font-size: 30px;
    text-align: center;
    display: inline;
}

.contact-container section
{
    color: white;
    padding: 10px;
}

form
{
    background-color: lightseagreen;
    padding: 10px;
    border-radius: 10px;
}

.contact-container table td
{
    padding: 25px;
}

label
{
    font-size: 20px;
}

input
{
    width: 400px;
}

.message-input textarea
{
    width: 400px;
    height: 50px;
    resize: none;
}

/**************************DESKTOP DIMENSIONS****************************/

@media (min-width: 1281px)
{
    .heading
    {
        margin-top: 30px;
    }
    ul#horizontal-list li
    {
        display: inline;
        background-color: transparent;
        border: none;
        padding: 20px;
    }
    ul#horizontal-list img
    {
        width: 25px;
    }
    ul#horizontal-list a
    {
        display: inline;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .heading
    {
        font-size: 25px;
        text-align: left;
    }
    h1 
    {
        padding-top: 30px;
        font-size: 80px;
    }
    h2 
    {
        font-size: 60px;
        margin-left: 25px;
    }
    .redirectables
    {
        margin: 30px;
        margin-bottom: 50px;
        text-align: center;
    }
    .r_desk
    {
        display: inline;
    }
    .r_mob
    {
        display: none;
    }
    ul#redirectables li 
    {
        /*padding-top: 50px;*/
        padding: 10px;
        display: inline;
    }
    .redirectables img
    {
        width: 50px;
    }
}
