@font-face 
{
    font-family: 'alphabetized_cassette_tapesRg';
    src: url('fonts/alphabetized_cassette_tapes-webfont.woff2') format('woff2'), url('fonts/alphabetized_cassette_tapes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: alphabetized_cassette_tapesRg;
    font-size: 50px;
    /*background-color: grey;*/
}

body :link, :visited, :active 
{
    text-decoration: none;
    color: black;
}

h1, h2
{
    /*margin-left: 25px;*/
    font-style: normal;
    padding-left: 175px;
}

h1
{
    padding-top: 30px;
    font-size: 80px;
}

h2
{
    font-size: 60px;
    margin-left: 25px;
}

.paragraph
{
    margin:50px;
    padding-left: 25px;
}

.heading
{
    background: linear-gradient(#00ff90, #00ffff);
    font-size: 60px;
    text-align: center;
    margin: 30px;
}

ul#horizontal-list li
{
    margin: 10px;
    display: inline;
}
