/*my professional profile img*/
header img 
{
    float: left;
    max-width: 6%;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 35px;
}

img#hiro-socks 
{
    width: 500px;
    margin: 100px;
    border-radius: 50%;
    transform: rotate(90deg);
}

figure#map 
{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    border: solid white;
    background-color: lightseagreen;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 600px;
}

figure#map figcaption
{
    padding-top: 10px;
    color: white;
}